# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Node
node_modules/
dist/
.vite/

# Java / Maven
target/
*.class
*.jar
*.war

# logs
*.log

# env
.env

# Configuración local Spring
**/application-local.yaml